@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
/* CSS Document */

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Microsoft JhengHei,Roboto,Helvetica Neue,Arial,sans-serif;
}

body {
	margin: auto;
	position: relative;
	background: #ffffff;
	width: 100%;
}

nav {
	width: 100%;
	height: 68px;
	position: fixed;
	border-bottom: #cad1dd 1px solid;
	z-index: 3;
	background-color: #FFFFFF;
}

footer {
	width: 100%;
	padding: 10px;
	font-size: 12px;
	color: #9da6b9;
	text-align: center;
	background-color: #f3f4f5;
}

footer img {
	height: 27px;
	margin: 10px;
}

p {
	font-size: 14px;
}

span {
	font-size: 14px;
}

input [type=submit] {
	-webkit-appearance: none;
}

input [type="submit"] {
	-moz-appearance: none;
	appearance: none;
}

.signin_form {
	position: relative;
	margin: 0 auto;
	color: #20232b;
	background: #ffffff;
	width: 90%;
	padding: 30px 15px;
}

.signin_form h3 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 30px;
}

.form_body {
	width: 100%;
	margin: 0 auto;
	margin-top: 68px;
}

.form_block {
	margin-bottom: 15px;
}

.form_styles {
	font-size: 14px;
	background-color: #f8f8f8;
	color: #7b7b7b;
	padding: 10px;
	border-radius: 5px;
	border: 0px;
	width: 100%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.radio_styles {
	margin: 5px;
}

.radio_styles span {
	margin: 0 10px;
}

.input_title {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	font-size: 14px;
	font-weight: 600;
}

.input_form {
	width: 100%;
	padding: 0;
}

.clear {
	clear: both;
}

.red-star {
	color: red;
}

.skm_memberClause {
	width: 100%;
	margin: 0 auto;
}

.treatbox {
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #d0d8e0;
	border-radius: 5px;
	width: 100%;
	height: 200px;
	padding: 10px;
	margin: 0 auto;
}

.treatbox_title {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	font-size: 14px;
	font-weight: 600;
}

.treatbox_content {
	line-height: 24px;
	font-size: 14px;
}

.treatbox_content ol, ul {
	padding-left: 25px;
}

.treatbox_content ol li, ul li {
}

#submit_button {
	font-size: 16px;
	margin: 0 auto;
	padding: 15px;
	background: hsl(2.4,80.6%,48.6%);
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	width: 100%;
}

#submit_button:hover {
	background: hsla(2.4,80.6%,48.6%,0.80);
}

.notice {
	margin: 15px 0;
	font-size: 12px;
}

.notice p {
	font-size: 12px;
}

.clearfix {
	clear: both;
}

.menu-button {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: none;
	padding: 20px;
	margin: 0;
}

.logo-column {
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	-webkit-box-flex: 0;
    -ms-flex: 0 0 212px;
	flex: 0 0 212px;
}

.logo {
	width: 100%;
	display: inline-block;
	z-index: 500;
	text-align: left;
}

.nav-menu {
	content: "";
    background-color: #d21d1d;
    position: fixed;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    opacity: .95;
    z-index: 600;
    visibility: hidden;
    transition: visibility .35s, width .7s;
    overflow-y: scroll; 
}

.nav-menu.open {
	visibility: visible;
	width: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-indent: -9999px;
    overflow: hidden;
    background: #be0909;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.close-button:after, .close-button:before {
	content: "";
	position: absolute;
	left: 30%;
	top: 50%;
	background: #fff;
	height: 2px;
	border-radius: 1px;
	width: 40%;
	margin-top: -1px;
}

.close-button:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-content {
    display: block;
    width: 300px;
    margin: 20px auto;
}

.menu-section-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.menu-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 72px;
    padding-left: 60px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.menu-section {
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

.menu-section-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.menu-groups-wrapper {
    position: relative;
    padding-left: 30px;
}

.menu-groups {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
}

.menu-group {
    line-height: 52px;
    padding-left: 30px;
    box-sizing: border-box;
    width: 100%;
    border-left: 1px solid #a40035;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

.skm-home-page {
    display: inline-block;
    line-height: 72px;
    width: 100%;
    text-align: center;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

@media screen and (min-width: 700px) {
	.signin_form {
		width: 70%;
	}

	.signin_form h3 {
		font-size: 24px;
	}

	.input_title {
		float: left;
		width: 25%;
	}

	.input_form {
		float: left;
		width: 75%;
	}

	input [type="radio"], [type=radio] {
		-webkit-appearance: radio;
		-moz-appearance: radio;
		appearance: radio;
		box-sizing: border-box;
	}

	input [type="checkbox"], [type=checkbox] {
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		appearance: checkbox;
		box-sizing: border-box;
	}

}

@media screen and (min-width: 1200px) {
	.signin_form {
		width: 60%;
	}

	.input_title {
		float: left;
		width: 18%;
	}

	.input_form {
		float: left;
		width: 82%;
	}
	
}